body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.form {
  width: 500px;

  margin: 0 auto;
  padding: 30px;
  border: 1px solid rgb(70, 186, 214);
  background-color: rgb(217, 244, 253);
  border-radius: 10px;
  position: relative;
}
.form__title {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.form__subtitle {
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}
.form__container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.form__input {
  display: flex;
  justify-content: space-between;
}
.form__container > div {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px;
}
.form__container input {
  border: 1px solid rgb(166, 227, 242);
  background-color: white;
  width: 70%;
  /* height: 30px; */
  border-radius: 5px;
  font-size: 16px;
  padding: 7px;
}
.red {
  background-color: red;
  border: 1px solid rgb(212, 42, 42);
  box-shadow: 1px 1px 3px rgb(243, 71, 71);
}
.form__container input:hover {
  border: 1px solid rgb(143, 223, 244);
  box-shadow: 1px 1px 3px rgb(94, 175, 195);
}
.form__container input:focus {
  outline: none;
}
.form__btn-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  /* padding-right: 20px; */
}
.form__btn-input,
.form__btn-show {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(70, 186, 214);
  color: white;
}

.form__btn-show {
  width: 160px;
  border: 2px solid rgb(70, 186, 214);
  background-color: white;
  color: rgb(70, 186, 214);
}

.form__btn:hover {
  background-color: rgb(100, 199, 224);
  box-shadow: 2px 2px 5px rgb(45, 102, 116);
}
.form__btn:active {
  background-color: rgb(49, 150, 175);
  box-shadow: 2px 2px 5px rgb(45, 102, 116);
}

/* Table style */
.table__title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}
.table {
  width: 50%;
  min-height: 50px;
  margin: auto;
}
table,
th,
tr,
td {
  border: 1px solid black;
}
td,
th {
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
}
