h1 {
  padding: 0;
  margin: 0;
}
.test-title {
  text-align: center;
  margin-bottom: 18px;
}
.test-timer-box {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}
.test-timer {
  border: 1px solid grey;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 500;
  position: fixed;
  top: 5px;
}
.student-info {
  display: flex;
  width: 70%;
  margin: 30px auto;
  justify-content: space-around;
}
ul {
  list-style: none;
}
#result {
  position: fixed;
  background: white;
  padding: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid lightgray;
}
.bgGreen {
  background: green;
}
.bgRed {
  background: red;
}
.test-el-Blue {
  color: blue;
}
.test-el-red {
  color: red;
}
