* {
  box-sizing: border-box;
}
.field {
  margin: auto;
  position: relative;
  width: 800px;
  height: 509px;
  background-image: url("https://thumbs.dreamstime.com/b/football-field-soccer-background-green-lawn-court-create-game-sport-138451119.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.field__center-circle {
  position: absolute;
  top: 173px;
  left: 315px;
  width: 170px;
  height: 170px;
  border: 2px solid white;
  border-radius: 50%;
}

.field__goal {
  position: absolute;
  width: 46px;
  height: 130px;
  border: 2px solid white;
  z-index: 10;
}

.goal1 {
  top: 190px;
  left: 17px;
}

.goal2 {
  top: 190px;
  right: 17px;
}

.field__penalty {
  position: absolute;
  width: 120px;
  height: 290px;
  border: 2px solid white;
}

.penalty-area1 {
  top: 110px;
  left: 17px;
}

.penalty-area2 {
  top: 110px;
  right: 17px;
}

.field__penalty-mark {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

.mark1 {
  top: 254px;
  left: 100px;
}

.mark2 {
  top: 254px;
  right: 100px;
}

.field__ball {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.count {
  width: 200px;
  height: 70px;
  border: 1px solid gray;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 10px;
}
.count > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2px;
  border: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
}
.count__subtitle1,
.count__subtitle2 {
  background-color: gray;
  color: white;
}
.countGoal {
  background-color: green;
  color: white;
}
