* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h3 {
  text-align: center;
}
button,
button:active,
button:hover {
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 120px;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgb(177, 214, 251);
  border-radius: 20px;
}
.input-field,
.output-field {
  display: flex;
  align-items: end;
  justify-content: center;
}
.turnBtn {
  padding: 15px 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50px;
  background-color: rgb(74, 104, 135);
  color: white;
  font-size: 16px;
}
.turnBtn:hover {
  background-color: rgb(81, 116, 150);
  color: white;
}
.turnBtn:active {
  color: white;
  background-color: rgb(62, 130, 176);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.grid_item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid black;
}
.input-currency,
.output-currency {
  width: 100px;
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(74, 104, 135);
}
.input-currency {
  margin-left: 10px;
}
.output-currency {
  margin-right: 10px;
}
label {
  display: flex;
  flex-direction: column;
}
input[type="number"] {
  width: 200px;
  height: 40px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgb(74, 104, 135);
}
.resultBtn {
  display: block;
  width: 200px;
  padding: 20px 40px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(132, 133, 133);
  color: black;
  font-size: 16px;
}
.resultBtn:hover {
  border: 1px solid rgb(132, 133, 133);
  background-color: rgb(229, 244, 255);
}
.resultBtn:active {
  border: 1px solid rgb(132, 133, 133);
  background-color: rgb(178, 217, 248);
}
