.block {
  width: 50%;
  height: 100px;
  margin: auto;
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.block > div {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 7px;
  color: aliceblue;
}
.block > div:active {
  background-color: aquamarine;
  color: cadetblue;
  border: 1px solid cadetblue;
}
