* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
li,
ul {
  list-style: none;
  padding: 0;
}
li {
  border: 2px solid gray;
  border-radius: 3px;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
}
li:hover {
  border: 2px solid rgb(53, 89, 188);
  color: rgb(53, 89, 188);
  cursor: pointer;
  box-shadow: 2px 2px 5px darkgray;
}

header,
footer {
  height: 80px;
  background-color: rgb(41, 76, 171);
  display: flex;
  align-items: center;
}
.header__logo,
.footer__info {
  color: white;
  padding-left: 80px;
}
.center {
  text-align: center;
}
.keyWhich2 {
  height: 80px;
  font-size: 56px;
  font-weight: 600;
}
main {
  min-height: calc(100vh - 180px);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 80px;
}
.card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgb(209, 209, 209);

  transition: transform 200ms linear;
}
.card:hover {
  transform: scale(1.05);
}
.card__title {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(41, 76, 171);
}
.card__value {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__info {
  width: 100%;
  padding: 10px;
  text-align: start;
  color: rgb(133, 138, 148);
  background-color: rgb(216, 219, 226);
}
.history {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  gap: 10px;
  padding: 10px;
  text-align: center;
}
