:root {
  --color-dark: #0a0909;
  --color-light-black: #1c1b1f;
  --color-dark-bg: #201e1d;
  --color-light-orange: #ffae64;
  --color-orange: #f47b0a;
  --color-gray: #4a4c54;
  --color-dark-gray: #8b8681;
  --color-light-gray: #e0e0e0;
  --color-white-gray: #a6a6a6;
  --color-light: #f1f1f1;
  --color-gradient: linear-gradient(180deg, #0c0b0b 13.02%, #a75121 100%);
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
input {
  border: none;
  outline: none;
}
.calc {
  width: 350px;
  height: 600px;
  background-color: var(--color-dark-bg);
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.calc__inp {
  width: 100%;
  height: 200px;
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 122, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 10px;
  color: var(--color-light);
  font-size: 40px;
  font-weight: 700;
  padding: 7px;
  text-align: end;
}
.calc__inp::placeholder {
  color: var(--color-light);
}
.calc__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  gap: 4px;
  user-select: none;
}
.number,
.point {
  background-color: var(--color-dark);
  border-radius: 15px;
  color: var(--color-light-gray);
  box-shadow: 2px 2px 2px rgba(255, 122, 0, 0.3);

  transition: background 200ms linear;
}
.number:nth-child(17) {
  grid-row: 5;
  grid-column: 1/3;
}
.number:hover,
.point:hover {
  background-color: var(--color-light-black);
  border: 2px solid var(--color-dark);
}
.number:active,
.point:active {
  background: linear-gradient(180deg, #0c0b0b 13.02%, #a75121 100%);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 200ms linear;
}

.sign,
.equally {
  background-color: var(--color-orange);
  color: var(--color-light-gray);
  border-radius: 15px;

  transition: background 200ms linear;
}
.sign:hover,
.equally:hover {
  background-color: var(--color-light-orange);
}
.sign:active,
.equally:active {
  background: linear-gradient(0deg, #f0e7e7 14.06%, #d8611f 100%);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: var(--color-dark);
  transition: all 200ms linear;
}
.number,
.sign,
.clear,
.minus,
.percent,
.point,
.equally {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear,
.minus,
.percent {
  background-color: var(--color-dark-gray);
  color: var(--color-dark);
  border-radius: 15px;
  transition: all 200ms linear;
}
.clear:hover,
.minus:hover,
.percent:hover {
  background-color: var(--color-white-gray);
}
.clear:active,
.minus:active,
.percent:active {
  background-color: var(--color-gray);
  box-shadow: 2px 2px 2px rgba(255, 122, 0, 0.3);
  color: var(--color-orange);
  transition: all 200ms linear;
}
