body {
  margin: 0;
  padding: 0;
}

.tabs__box {
  padding: 16px;
  max-width: 60%;
  height: 200px;
  margin: 0 auto;

  border: 1px solid #a6a6a6;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  user-select: none;
  background-color: #1c1b1f;
}
.tabs__container {
  display: flex;
  justify-content: space-around;
}

.tabs__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  border-bottom: 1px solid #cae7eb;
  border-left: 1px solid #cae7eb;
  border-radius: 7px 7px 0 0;
  cursor: pointer;
  text-align: center;
  background-color: #0a0a0c;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
  transition: background-color 300ms linear;
}
.tabs__tab:hover {
  background-color: #54545e;
}

.tabs__content {
  position: relative;
}
.tabs__p {
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 18px;
  transition: opacity 500ms linear;
  position: absolute;
}
.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
.active {
  background-color: #cae7eb;
  color: #0a0a0c;
  opacity: 1;
  height: 100%;
}
