* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  transition: color 500ms linear;
}
a:hover {
  color: orange;
}
.nav__logo {
  display: inline-block;
  color: #1e1e1e;
  width: 200px;
  height: 60px;
  padding: 2px;
}
.nav,
.nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  padding: 0 50px;
  background-color: #1e1e1e;
  color: rgba(197, 197, 197, 1);
  width: 100%;
  height: 8vh;
}
.nav__item {
  width: 60%;
  height: 100%;
}
.nav__item li a {
  padding: 5px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
main {
  background-color: black;
  padding: 0 50px;
  padding-bottom: 60px;
  min-height: 100vh;
}
.product__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  border: 2px solid rgba(255, 255, 255, 1);
  height: 48px;
  width: 194px;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 500ms linear;
}
button:hover {
  background-color: white;
  color: black;
}
h2 {
  font-weight: 700;
  font-size: 60px;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 600px;
  gap: 25px;
  width: 80%;
  margin: auto;
}
.product__smartphones {
  width: 100%;
}
.product__laptops {
  width: 100%;
  margin-bottom: 60px;
}

.product__card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.5));
  overflow: hidden;
}
.product__card-img {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
img {
  max-width: 100%;
  display: block;
  max-height: 200px;
}
.product__card-info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.product__card-title {
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.product__card-description {
  font-size: 16px;
  font-weight: 400;
}
.product__card-price {
  font-weight: 500;
  font-size: 18px;
  color: black;
  opacity: 0.3;
}
.learnBtn {
  display: block;
  width: 274px;
  height: 60px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
}
.learnBtn:hover {
  background-color: black;
  color: white;
}
.footer__row {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 100px;
  background-color: #1e1e1e;
  color: rgba(197, 197, 197, 1);
}
.footer__row > div {
  font-size: 35px;
  font-weight: 700;
  color: white;
}
.footer__row > ul {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid rgba(197, 197, 197, 1);
  margin-bottom: 20px;
}
.footer__row li {
  padding: 7px;
  font-size: 20px;
  color: white;
}
